$margin: 0.8em;
$overlay-show-animation-duration: 1.25s;
$overlay-hide-animation-duration: 0.25s;
$overlay-counter-animation-duration: 0.75s;
$overlay-check-animation-duration: 0.75s;

@keyframes bounce-in {
  0% {
    transform: translateY(calc(100% + $margin));
  }

  16% {
    transform: translateY(-32%);
  }

  28% {
    transform: translateY(13%);
  }

  44% {
    transform: translateY(-5%);
  }

  59% {
    transform: translateY(2%);
  }

  73% {
    transform: translateY(-1%);
  }

  88% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(calc(100% + $margin));
  }
}

.quest-overlay {
  position: absolute;
  left: $margin;
  bottom: $margin;
  width: calc(90% - 4 * $margin);
  border: 0.22em solid $c-black;
  background-color: #ffeb78;
  color: $c-black;
  margin: 0;
  padding: 0.6em 1em;
  font-size: 1.5em;
  @include RobotoCondensedBold;
  transform: translateY(calc(100% + $margin));

  &.visible {
    // Persist the effect of the animation
    animation: bounce-in $overlay-show-animation-duration forwards;
  }

  &.hidden {
    animation: hide $overlay-hide-animation-duration forwards;
  }

  $counter-size: 1.5em;
  $counter-empty-margin: 0.2em;

  .counter {
    margin: 0 -0.2em;
    .counter-item {
      display: inline-block;
      width: $counter-size - $counter-empty-margin;
      height: $counter-size - $counter-empty-margin;
      border: 0.125em dashed $c-black;
      border-radius: 50%;
      margin: $counter-empty-margin * 0.5  0.1 + $counter-empty-margin * 0.5;

        @keyframes activate {
            0% {
              opacity: 0;
              transform: scale(3);
            }
            60% {
              opacity: 1;
              transform: scale(0.66);
            }
            90% {
              transform: scale(1.2);
            }
            100% {
              transform: scale(1);
            }
        }

      &.active {
        width: $counter-size;
        height: $counter-size;
        margin: 0 0.1em;
        border: none;
        border-radius: 0;
        animation: activate $overlay-counter-animation-duration ease-in-out;
        background-image: url('../../static/openmoji/counters/check.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .counter-item.happy.active {
      background-image: url('../../static/openmoji/counters/happy.svg');
    }

    .counter-item.angry.active {
      background-image: url('../../static/openmoji/counters/frown.svg');
    }

    .counter-item.idea.active {
      background-image: url('../../static/openmoji/counters/lightbulb.svg');
    }

    .counter-item.person.active {
      background-image: url('../../static/openmoji/counters/person.svg');
    }
  }

  &.with-checkmark {
    padding-left: 2.4em;

    &:before {
      content: " ";
      display: block;
      width: 1.3em;
      height: 1.3em;
      position: absolute;
      left: 0.6em;
      top: 0.7em;
      background-image: url('../../static/ui/quest-checkbox-box.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @keyframes check {
    0% {
      transform: scale(2);
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    60% {
      transform: scale(0.66);
    }

    90% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  &.with-checkmark-checked {
    &:after {
      content: " ";
      display: block;
      width: 1.7em;
      height: 1.7em;
      position: absolute;
      top: 0.3em;
      left: 0.55em;
      background-image: url('../../static/ui/quest-checkbox-check.svg');
      background-repeat: no-repeat;
      background-size: contain;
      animation: check $overlay-check-animation-duration ease-in-out;
      animation-iteration-count: 1;
    }
  }
}
